<center><h1>Expected shortfall</h1></center>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Expected_shortfall_data.csv')

In [3]:
df

    Obs  Loss data   Loss data (ascending order)  Ranking
0     1        8000                       -17715        1
1     2       -5429                       -14116        2
2     3        1086                       -10682        3
3     4        7601                        -9275        4
4     5      -14116                        -9122        5
..  ...         ...                          ...      ...
95   96         258                         8686       96
96   97        1134                         8780       97
97   98        1673                         8809       98
98   99       -7440                        12088       99
99  100       -5040                        13495      100

[100 rows x 4 columns]

# Statistics
Total number of returns	= 100

Confidence level = 95%

In [4]:
tnc = 100
cfd_ivl = 0.95

### Aplha (Level of significance)

In [6]:
alpha = 1 - cfd_ivl
alpha

0.050000000000000044

In [8]:
alpha = round(alpha,2)
alpha

0.05

### Historic VaR is at position

In [10]:
df.head(10)

   Obs  Loss data   Loss data (ascending order)  Ranking
0    1        8000                       -17715        1
1    2       -5429                       -14116        2
2    3        1086                       -10682        3
3    4        7601                        -9275        4
4    5      -14116                        -9122        5
5    6        2063                        -8883        6
6    7       -5056                        -8846        7
7    8       -6462                        -8808        8
8    9        7869                        -8323        9
9   10       -9275                        -8188       10

<center>Is at position 5</center>

In [15]:
df.iloc[4,2]

-9122

In [17]:
var_amt = df.iloc[4,2]
var_amt

-9122

# Calculating Tail Loss

In [31]:
def tail_loss(x):
    if x > var_amt:
        return 0 
    else:
        return 1

In [32]:
# Applying our function
df['Loss data (ascending order)'].apply(tail_loss)

0     1
1     1
2     1
3     1
4     1
     ..
95    0
96    0
97    0
98    0
99    0
Name: Loss data (ascending order), Length: 100, dtype: int64

In [33]:
df['Tail Loss'] = df['Loss data (ascending order)'].apply(tail_loss)

In [34]:
df

    Obs  Loss data   Loss data (ascending order)  Ranking  Tail Loss
0     1        8000                       -17715        1          1
1     2       -5429                       -14116        2          1
2     3        1086                       -10682        3          1
3     4        7601                        -9275        4          1
4     5      -14116                        -9122        5          1
..  ...         ...                          ...      ...        ...
95   96         258                         8686       96          0
96   97        1134                         8780       97          0
97   98        1673                         8809       98          0
98   99       -7440                        12088       99          0
99  100       -5040                        13495      100          0

[100 rows x 5 columns]

# Expected Shortfall

Getting the rows with tail loss is 1

In [35]:
df[df['Tail Loss'] == 1]

   Obs  Loss data   Loss data (ascending order)  Ranking  Tail Loss
0    1        8000                       -17715        1          1
1    2       -5429                       -14116        2          1
2    3        1086                       -10682        3          1
3    4        7601                        -9275        4          1
4    5      -14116                        -9122        5          1

In [37]:
df[df['Tail Loss'] == 1]['Loss data (ascending order)'].mean()

-12182.0